import {request} from '@/utils/request';

/**
 * 获取所有的${tableComment.replaceAll("表", "")}信息(分页)
 *
 * @param {*} data ${tableComment.replaceAll("表", "")}信息
 * @return
 * @author  ${author}
 * @date ${date}
 */
export function get${pm1_2}PageList(data) {
    return
    request({
        url: "/${pm0}/${pm1}/page",
        params: data
    });
    
}


/**
 * 获取${tableComment.replaceAll("表", "")}详情
 *
 * @param {*} id
 * @return
 * @author  ${author}
 * @date ${date}
 */
export function get${pm1_2}Detail(id) {
    return
    request({
        url: `/${pm0}/${pm1}/details/${id}`,
    });

}

/**
 * 添加${tableComment.replaceAll("表", "")}
 *
 * @param {*} data ${tableComment.replaceAll("表", "")}信息
 * @return
 * @author  ${author}
 * @date ${date}
 */

export function add${pm1_2}(data) {
    return
    request({
        url: "/${pm0}/${pm1}/add",
        method: "post",
        data
    });

}

/**
 * 编辑${tableComment.replaceAll("表", "")}
 *
 * @param {*} data ${tableComment.replaceAll("表", "")}信息
 * @param {*} id ${tableComment.replaceAll("表", "")}id
 * @return
 * @author  ${author}
 * @date ${date}
 */
export function edit${pm1_2}(data, id) {
    return
    request({
        url: "/${pm0}/${pm1}/edit",
        method: "post",
        data: {
...
    data, id
}
})
    ;

}
##delete是vm关键字，会和拼接的方法名分开所以单独定义变量来
#set($delete = "delete")
/**
 * 删除${tableComment.replaceAll("表", "")}（可支持批量删除）
 *
 * @param {*} ids
 * @return
 * @author  ${author}
 * @date ${date}
 */
export function ${delete}${pm1_2}(ids) {
    return
    request({
        url: "/${pm0}/${pm1}/delete",
        method: "post",
        params: {
            ids
        }
    });

}

