package ${parentPack}.controller;

import cn.dev33.satoken.annotation.SaCheckLogin;
import cn.dev33.satoken.annotation.SaCheckPermission;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.extern.slf4j.Slf4j;
import ${parentPack}.common.model.vo.CommonResult;

import ${parentPack}.service.${className}AppService;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Description;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import javax.validation.constraints.NotBlank;
import java.util.List;


#set($firstName=$className.substring(0,1).toLowerCase()+$className.substring(1))
/**
 * $!{tableComment.replaceAll("表", "移动端接口")}
 *
 * @author  ${author}
 * @date ${date}
 * @folder ${moudleNameZh}/$!{tableComment.replaceAll("表", "移动端接口")}
 */
@Slf4j
@RestController
public class ${className}AppController {
    @Autowired
    private ${className}AppService  ${firstName}AppService;
}
