package ${parentPack}.dto;
import ${parentPack}.model.*;
import ${parentPack}.enums.*;
import com.fasterxml.jackson.annotation.JsonFormat;
import org.springframework.format.annotation.DateTimeFormat;
import lombok.*;
import net.yiyuan.common.*;

import javax.validation.constraints.NotEmpty;
import java.io.Serializable;
import java.util.Date;
import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import java.math.BigDecimal;

/**
 *  $!{tableComment.replaceAll("表", "")}列表接口请求入参实体
 *
 * @author  ${author}
 * @date ${date}
 *
 */
@Data
public class ${className}ListDTO implements Serializable {

    #foreach($columnsItem in ${dtoTableColumns})

        #if(${columnsItem.propertyType.equals("Date")})
            /**
             * ${columnsItem.columnComment}(查询开始时间)
             *
             * @see ${columnsItem.propertyType}
             * @author ${author}
             * @date ${date}
             */
            @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
            @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
            private Date ${columnsItem.columnName}Start;
            /**
             * ${columnsItem.columnComment}(查询结束时间)
             *
             * @see ${columnsItem.propertyType}
             * @author ${author}
             * @date ${date}
             */
            @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
            @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
            private Date ${columnsItem.columnName}End;

        #elseif(!${columnsItem.propertyType.equals("Date")}&&!${columnsItem.columnName.equals(
            "sort")}&&!${columnsItem.columnName.equals(
            "sort")}&&!${columnsItem.columnName.equals(
            "createUser")}&&!${columnsItem.columnName.equals("updateUser")})
            /**
             * ${columnsItem.columnComment}
             *
             * @author ${author}
             * @date ${date}
             */
            private ${columnsItem.propertyType} ${columnsItem.columnName};
        #end



    #end

}
