#set($arrow="component:() => import(")
#set($arrowRight=")")
const routerMap = {

${pm1}: {
    name: "${pm1}",
        ${arrow} '@/pages/${pm0}/${pm1}/index'${arrowRight}
},

}
const i18nMap = {
    CN: {
${pm1}: {
    name: '${tableComment.replaceAll("表", "管理")}'
},
},
US: {
    ${pm1}:
    {
        name: '${pm1_2} Management'
    }
,
},
HK: {
    ${pm1}:
    {
        name: '${tableComment.replaceAll("表", "管理")}'
    }
,
}
}
export default {
    i18nMap,
    routerMap
};


