package ${package.Service};
import ${cfg.apiParent}.${package.ModuleName}.vo.*;
import ${cfg.apiParent}.${package.ModuleName}.dto.*;
import icu.mhb.mybatisplus.plugln.core.JoinLambdaWrapper;
import java.util.Date;
import ${package.Entity}.${table.entityName};
import ${package.Entity}.${table.entityName};
import com.baomidou.mybatisplus.extension.service.IService;
import java.util.List;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.transaction.annotation.Transactional;
import icu.mhb.mybatisplus.plugln.base.service.JoinIService;
import net.yiyuan.common.*;
import org.springframework.transaction.annotation.Transactional;
/**
* $!{table.comment.replaceAll("表", "管理")}Service层接口
*
* @author  ${author}
* @date ${date}
*
*/
public interface ${table.entityName}Service extends JoinIService<${table.entityName}> {

/**
* ${table.comment.replaceAll("表", "")}列表(全部)
*
* @param request $!{table.comment.replaceAll("表", "")}实体
* @return {@link List< ${table.entityName}QueryVO >}
* @author  ${author}
* @date ${date}
*/
List< ${table.entityName}QueryVO > list(${table.entityName}ListDTO request)throws Exception;


/**
* ${table.comment.replaceAll("表", "")}列表(分页)
*
* @param request $!{table.comment.replaceAll("表", "")}实体
* @return {@link Page< ${table.entityName}QueryVO >}
* @author  ${author}
* @date ${date}
*/
Page< ${table.entityName}QueryVO > page( ${table.entityName}PageDTO request)throws Exception;


/**
* ${table.comment.replaceAll("表", "")}详情
*
* @param id $!{table.comment.replaceAll("表", "")}id
* @return {@link ${table.entityName}QueryVO}
* @author  ${author}
* @date ${date}
*/
${table.entityName}QueryVO details(String id)throws Exception;


/**
* ${table.comment.replaceAll("表", "")}详情
*
* @param request $!{table.comment.replaceAll("表", "")}实体
* @return {@link ${table.entityName}}
* @author  ${author}
* @date ${date}
*/
${table.entityName}QueryVO details(${table.entityName} request)throws Exception;


/**
* 删除${table.comment.replaceAll("表", "")}(支持批量)
*
* @param ids $!{table.comment.replaceAll("表", "")}id(多个逗号分割)
* @return {@link boolean}
* @author  ${author}
* @date ${date}
*/

boolean delete(String ids)throws Exception;


/**
* 批量删除${table.comment}(根据同一属性,针对中间表)
*
* @param request $!{table.comment.replaceAll("表", "")}实体
* @return {@link boolean}
* @author  ${author}
* @date ${date}
*/
boolean delete(${table.entityName} request) throws Exception;

/**
* 编辑${table.comment}
*
* @param request $!{table.comment.replaceAll("表", "")}实体
* @return {@link boolean}
* @author  ${author}
* @date ${date}
*/
boolean edit(${table.entityName}EditDTO request)throws Exception;


/**
* 新增${table.comment}
*
* @param request $!{table.comment.replaceAll("表", "")}实体
* @return {@link boolean}
* @author  ${author}
* @date ${date}
*/
boolean add(${table.entityName}AddDTO request)throws Exception;

}